.App {
  text-align: center;
}

.Game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Game-Board {
  background-color: #0077ee;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.Button {
  margin: 10px;
  padding:4px;
  border-radius:3px;
  color:#ffffff;
  border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	text-decoration:none;
}
/* .Button:active {
	position:relative;
	top:1px;
} */

.StartOver {
  background-color:#e4685d;
	box-shadow:inset 0px 39px 0px -24px #e67a73;
	text-shadow:0px 1px 0px #b23e35;

}
.StartOver:hover {
	background-color:#eb675e;
}

.PlayAgain {
  background-color:#32834c;
	box-shadow:inset 0px 39px 0px -24px #538b65;
	text-shadow:0px 1px 0px #177936;

}
.PlayAgain:hover {
	background-color:#3fa45f;
}


.Game-Row {
  display: flex;
  flex-direction: row;
}

.Game-Cell {
  border-radius: 20px;
  width: 40px;
  height: 40px;
  background-color: white;
  margin: 5px;
}

.Game-Cell:hover {
  cursor: pointer;
  background-color: lightgray;
}

.Game-Cell.red {
  background-color: red;
  cursor: not-allowed;
}

.Game-Cell.yellow {
  background-color: yellow;
  cursor: not-allowed;
}

.Game-Cell.animated {
  animation-name: animated;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  transform-style: preserve-3d;

  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 40px;
  color: black;
}
.Game-Cell.animated::after {
  content: "×";
}

@keyframes animated {
  50% {
    transform: rotateY(180deg);
  }
}
